h1= (topic.ancestor_topics.map(&:title) + [topic.title]).join(' » ')

ul.list-group
  = render partial: 'admin/topics/topic', collection: topic.subtopics, as: :topic

= link_to t('.new_topic'), new_admin_topic_path(parent_topic_id: topic.id)
